@use "color";
@use "font";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: font.$font-c;
    background-color: whitesmoke;
}


.header {
    width: 100%;
    height: 400px;
    background-image: url("./images/image-hero-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .intro-page_container {
        max-width: 1440px;
        margin: 0 auto;

        .nav {
            padding: 40px 50px 0 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-items: center;

            .menu {
                margin-top: 25px;
                width: 300px;
                justify-content: space-around;
                display: flex;
                color: white;
                font-size: 15px;
                font-weight: 500;
                flex-direction: row;
                list-style: none;

                li {
                    cursor: pointer;
                    transition: 0.2s;
                    transition-timing-function: linear;
                }
            }

            li:hover {
                color: color.$cyan;
                border-bottom-style: inset;
                border-bottom-color: color.$cyan;
                border-bottom-width: 2px;
            }
        }
    }
}


@media only screen and (max-width:575px) {
    .header {
        .intro-page_container {
            .nav {
                padding: 40px 10px 0 20px;
            }
        }
    }
}

@media only screen and (max-width:485px) {
    .header {
        .intro-page_container {
            .nav {
                li {
                    display: none;
                }
            }
        }
    }
}


.card1 {
    margin: 230px auto;
    width: 700px;
    height: 280px;
    background-color: white;
    border-radius: 10px;
    text-align: center;

    .mastercraft {
        position: relative;
        bottom: 30px;
    }

    h1 {
        font-size: 26px;
        font-weight: 700;
        text-transform: capitalize;
        color: color.$black;
    }

    p {
        color: color.$gray;
        margin-top: 10px;
    }

    .card1-btn {
        cursor: pointer;
        margin-top: 50px;
        display: flex;
        justify-content: space-around;

        .back {
            width: 200px;
            height: 60px;
            background-color: color.$cyan;
            border: none;
            color: white;
            font-weight: 500;
            border-radius: 50px;
            transition: 0.3s;
        }

        .back:hover {
            background-color: color.$dark-cyan;
        }

        .saved {
            text-align: center;
            width: 200px;
            height: 60px;
            border-radius: 50px;
            transition: 0.3s;
            border: none;
            font-weight: 500;
            color: white;
            background-color: color.$cyan;
        }


        .saved:hover {
            background-color: color.$dark-cyan;
        }
    }
}